<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <akka>
    <hocon>
      <![CDATA[
         akka {
          actor {
            provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            deployment {
              # this nested section will be accessed by akka.actor.deployment
              # used to configure our ChartingActor
              /MyClient {
                 # causes ChartingActor to run on the UI thread for WinForms
                dispatcher = akka.actor.synchronized-dispatcher
              }
            }
          }

         remote {
            helios.tcp {
             transport-class = ""Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote""
		         applied-adapters = []
		         transport-protocol = tcp
		         port = 0
		         hostname = localhost
            }
         }
        }
      ]]>
    </hocon>
  </akka>



</configuration>